* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Arial', sans-serif;
    background-image: url("img/fundo.png");
}

.container {
    max-width: 800px;
}


header {
    text-align: center;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 2px;
    color: orange;
    font-size: 4em;
    paint-order: stroke fill;
}

.buttons {
    margin-left: 55px;
    margin-bottom: 210px;
    background: linear-gradient(180deg, #FFD93D, #FFB703);
    border: 4px solid #5C3A1A;
    border-radius: 14px;
    padding: 14px 32px;
    font-family: "Jersey 10", sans-serif;
    font-size: 20px;
    color: #5C3A1A;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: 0 6px 0 #5C3A1A, 0 10px 15px rgba(0, 0, 0, 0.3);
    transition: transform 0.1s ease, box-shadow 0.1s ease;
}

.buttons:hover {
    background: linear-gradient(180deg, #FFE66D, #FFC93C);
}

.buttons:active {
    transform: translateY(4px);
    box-shadow: 0 2px 0 #5C3A1A, 0 5px 8px rgba(0, 0, 0, 0.3);
}

.stats{
    margin-left: 55px;
    margin-bottom: 210px;
    background: linear-gradient(180deg, #FFD93D, #FFB703);
    border: 4px solid #5C3A1A;
    border-radius: 14px;
    padding: 14px 32px;
    font-family: "Jersey 10", sans-serif;
    font-size: 20px;
    color: #5C3A1A;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: 0 6px 0 #5C3A1A, 0 10px 15px rgba(0, 0, 0, 0.3);
    transition: transform 0.1s ease, box-shadow 0.1s ease;
}

.stats:hover {
    background: linear-gradient(180deg, #FFE66D, #FFC93C);
}

.stats:active {
    transform: translateY(4px);
    box-shadow: 0 2px 0 #5C3A1A, 0 5px 8px rgba(0, 0, 0, 0.3);
}

.prancheta-container{
    position: relative;
    display: inline-block;
}

.overlay-gameOver {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.65);
    z-index: 10;

    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.overlay-gameOver.ativo {
    display: flex;
}

.overlay-content {
    text-align: center;
    color: white;
    font-family: 'Jersey 10', sans-serif;
}

.overlay-title {
    font-size: 3rem;
    color: #f44;
    margin-bottom: 1rem;
}

.overlay-stats {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
}

.overlay-buttons {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.buttons {
    padding: 0.6rem 1.4rem;
    font-size: 1.1rem;
    font-family: 'Jersey 10', sans-serif;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    background: #ffdd00;
    color: #333;
    font-weight: bold;
    transition: background 0.2s;
}

.buttons:hover {
    background: #ffc200;
}