* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Arial', sans-serif;
    background-image: url("img/fundo.png");
}

.container {
    max-width: 800px;
}


header {
    text-align: center;
}

h1 {
    font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 2px;
  color: orange;
  font-size: 4em;
  paint-order: stroke fill;
}

.startBtn {

}